@import url('https://fonts.googleapis.com/css?family=Lato');

$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: 1.5rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #303030;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: #363a3d;//$dark-gray;
$primary-color: #60aa45;
$secondary-color: #fbb419;

// Buttons
$_button-background-color: $secondary-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($primary-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 250ms;
$base-timing: ease;

$tablet-width: 768px;
$desktop-width: 1024px;
