#site-content{
  section {
    padding-top: $base-spacing*3;
    padding-bottom: $base-spacing*3;
  }

}

.button {
  border: 2px solid $secondary-color;
  &:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin-right: $small-spacing;
  }
  &.button-outline {
    border: 2px solid $secondary-color;
    background-color: transparent;
    color: $secondary-color;
    &:hover {
      background-color: $secondary-color;
      color: #FFFFFF;
    }
  }
}
.list-check {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    position: relative;
    padding-left: $small-spacing*1.25;
    line-height: 1.4;
    &:before {
      font-family: 'FontAwesome';
      content: '\f105';
      color: $primary-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.section-title {

  @include media($desktop-width) {
    font-size: modular-scale(3);
  }
  span {
    color: $primary-color;
  }
}

#hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: tint($light-gray, 60%);
  .row {
    align-items: center;
  }
  @include media($desktop-width) {
    h3{
      font-size: modular-scale(4);
    }
    p {
      font-size: modular-scale(2);
      margin-bottom: $base-spacing;
    }
  }
}
#verbiage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $primary-color;
  h3{
    color: white;
    text-align: center;
    margin-bottom: $base-spacing;
  }
  p {
    color: white;
    text-align: center;
  }
  @include media($desktop-width) {
    p {
      font-size: modular-scale(2);
    }
  }
}
#about {
  background-color: tint($light-gray, 60%);
  .section-title {
    text-align: center;
    margin-bottom: $base-spacing*4;
  }
  .row {
    flex-wrap: wrap;
    > .col {
      flex-basis: 50%;
      display: flex;
      margin-bottom: $base-spacing*2;
      h4 {
        color: $primary-color;
        font-size: modular-scale(1);
      }
      .image {
        flex-basis: 30%;
      }
      .content {
        flex-basis: 70%;
      }
    }
  }
}

#gallery {
  .section-title {
    text-align: center;
    max-width: 960px;
    margin: 0 auto $base-spacing*4;
  }
}
#quick-cta {
  text-align: center;
  padding-top: $base-spacing*2!important;
  padding-bottom: $base-spacing*2!important;
  background-color: #363a3d;
  .section-title {
    color: white;
  }
  .row {
    justify-content: center;
    align-items: center;
    .col {
      flex-basis: auto;
    }
  }
}

#palette {
  background-repeat: no-repeat;
  background-position: 0% 100%;
  .section-title {
    text-align: center;
    max-width: 960px;
    margin: 0 auto $base-spacing*4;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > li {
      flex-basis: 30%;
      @include media($desktop-width) {
        flex-basis: auto;
      }
    }
  }
}

#benefits {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: shade($light-gray, 60%);
  h3{
    color: white;
    margin-bottom: $base-spacing;
  }
  p, li  {
    color: white;
  }
  ul {
    @extend .list-check;
  }
}

#technical {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  h3{
    margin-bottom: $base-spacing;
  }
  ul {
    @extend .list-check;
  }
}
#specification {
  background-color: tint($light-gray, 60%);
  .section-title {
    text-align: center;
    margin-bottom: $base-spacing*2;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include media($desktop-width) {
      column-count: 2;
    }
  }
}
#forms {
  .col {
    &:first-child {

      .break-line{
        padding-bottom: $base-spacing;
        margin-bottom: $base-spacing;
        border-bottom: 2px dashed $light-gray;

        &:after {
          content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
        }

      }
      .form-description {
        .mauticform-label {
          color: $secondary-color;
        }
        a {
          color: $secondary-color;
          text-decoration: none;
        }
        .mauticform-freetext {
          margin-bottom: $base-spacing;
        }
      }

      .mauticform-field-2,
      .mauticform-field-4,
      .mauticform-field-6,
      .mauticform-field-8,
      .mauticform-field-10,
      .mauticform-field-12,
      .mauticform-field-14 {
        display: flex;
        align-items: center;
        margin-left: 33.33%;
        width: 33.33%;
        flex-direction: row-reverse;
        float: left;
        .mauticform-label {
          display: none;
        }
        .mauticform-input {

        }
        .mauticform-helpmessage {
          font-size: modular-scale(-1);
          margin-bottom: $small-spacing;
          padding-left: $small-spacing;
        }
      }
      .mauticform-field-3,
      .mauticform-field-5,
      .mauticform-field-7,
      .mauticform-field-9,
      .mauticform-field-11,
      .mauticform-field-13,
      .mauticform-field-15 {
        width: 33.33%;
        float: left;
        padding-left: $base-spacing;
      }
    }
    &:last-child {
      form {
        background-color: tint($light-gray, 80%);
        border: 1px solid tint($light-gray, 60%);;
        @include padding($base-spacing);
        .form-description {
          padding-bottom: $base-spacing;
          margin-bottom: $base-spacing;
          border-bottom: 2px dashed $light-gray;
        }
        .sub-title {
          margin-top: $base-spacing;
          margin-bottom: $base-spacing;
          text-transform: uppercase;
          font-size: modular-scale(-1);
          letter-spacing: 2px;
          font-weight: 700;
        }
        .mauticform-button-wrapper {
          margin-top: $base-spacing;
        }
      }
    }
  }
}
