/*
 *
 * STYLING FOR BACK TO TOP
 *
*/

.back-to-top
{
    font-size: 18px;
    line-height: 1;

    position: fixed;
    z-index: 9050;
    right: $small-spacing;
    bottom: $small-spacing;

    display: block;

    padding: $small-spacing;

    text-decoration: none;

    opacity: 0;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .65);

    transform: rotate(-90deg);
    transition: all .25s ease-in-out;
    &.show
    {
        opacity: 1;

        transform: rotate(0deg);
    }
    &:hover,
    &:focus
    {
        text-decoration: none;

        color: white;
        background-color: rgba(0, 0, 0, .85);
    }
}
